<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bbangmap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bread"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_bread_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BBangMap"
        android:name = ".KakaoSDKInit" >

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakaoApi" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth" android:scheme="kakaod4781d1ac5afbae6894685a55e64ccbc" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SecondActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".AddActivity"
            android:parentActivityName=".SecondActivity"
            android:screenOrientation="portrait"
            android:label="빵집추가신청">
        </activity>

        <activity
            android:name=".QnaActivity"
            android:parentActivityName=".SecondActivity"
            android:screenOrientation="portrait"
            android:label="문의하기">
        </activity>

        <activity
            android:name=".InfoActivity"
            android:parentActivityName=".SecondActivity"
            android:screenOrientation="portrait"
            android:label="빵맵소개">
        </activity>


    </application>

</manifest>